/* *{
    border:1px solid red;
}
 */
body{
    background-color: #e0e0e0;
    width: 100%;
    height:100vh;
}

.brand-logo{
    margin-left: 20px;
}

.dropdown-content{
    white-space: nowrap; 
}

.contenedor{
    margin-top: 45px;
}

.contenedor-estadisticas{
    padding: 5px;
    width: 100%;
}

.estadistica{
    width: 50%;
    height: 60px;
    margin-top:10px;
    margin-bottom:10px;
}

.box-contenedor{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
    grid-gap: 10px;
}

.box{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

.card-panel{
    margin: 0;
    padding: 0;
}

.box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Vista clientes */
.btn-container,
.tabla-categorias,
.tabla-clientes {
    margin-top: 30px;
}

.tabla-categorias{
    table-layout: auto;
}

.col-edit,
.col-borrar{
    width: 85px;
}

.paginacion-container{
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: end;
}

.modal1-cliente,
.modal2-cliente{ 
    max-height: 60%;
}

.tabla-agregar-producto{
    padding: 20px 20px 20px 20px;
}

.tabla-avisos{
    margin-bottom: 60px;
}

/*PERFIL*/
.perfil-info{
    height: 150px;
}

.profile-img{
    width: 100px;
    height: auto;
}

.profile-info-container{
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 30px;
}

.profile-info-username{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #26a69a;
}

.profile-info-rol,.badge-rol{
    display: inline-block;
}

.badge-rol{
    color:#fff;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-left: 10px;
    background: red;
}


/* Media querys */
@media screen and (max-width:767px){
    .box-contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 150px);
    }
}

@media screen and (max-width:480px){
    .box-contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .box{
        grid-template-columns: repeat(1,1fr);
    }

    .btn-container > a{
        width: 100%;
        margin-bottom: 5px;
    }

    .tabla-categorias{
        table-layout: fixed;
    }
    
}


/*Utilidades*/
.hide{
    display: none;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #26a69a ;
    box-shadow: 0 1px 0 0 #000;
}