/* *{
    border:1px solid red;
}
 */
body{
    background-color: #eceff1;
    width: 100%;
    height:100vh;
/*     background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #263238 ;
}

.letras-inicio{
    margin-top:180px;
}
.mensaje1{
    font-size: 80px;
    color:white;
}

.mensaje2{
    display:inline-block;
    margin: 0;
    padding: 10px;
    border-radius: 25px;
}

.form-registrar,.form-entrar{
    margin-top: 30px;
}

.error-mensaje, .exito-mensaje{
    padding: 3px;
}
