/* *{
    border:1px solid red;
}
 */
body{
    background-color: #eceff1;
    width: 100%;
    height:100vh;
}

.dropdown-content{
    white-space: nowrap; 
}

.contenedor{
    margin-top: 45px;
}

.contenedor-estadisticas{
    padding: 5px;
    width: 100%;
}

.estadistica{
    width: 50%;
    height: 60px;
    margin-top:10px;
    margin-bottom:10px;
}

.box-contenedor{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10px;
}

.box{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

.card-panel{
    margin: 0;
    padding: 0;
}

.box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Vista clientes */
.btn-container,
.tabla-clientes{
    margin-top: 30px;
}


.paginacion-container{
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: end;
}










/* Media querys */
@media screen and (max-width:767px){
    .box-contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 150px);
    }
}

@media screen and (max-width:480px){
    .box-contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .box{
        grid-template-columns: repeat(1,1fr);
    }
    
}
